In [3]:
# pip install mysql-connector
import mysql.connector
import pandas as pd

#connecting to db
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password=''
)
#droping old db
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS Whiskey_Database")
print('old db dropped')

#creating fresh one 
mycursor.execute("CREATE DATABASE Whiskey_Database")
mydb.commit()
print(mycursor.rowcount, "db created")

old db dropped
1 db created

In [4]:
import mysql.connector as msql
from mysql.connector import Error
import pandas as pd
empdata = pd.read_csv('Clean_whiskey_data.csv',  index_col=0)
empdata.head()
try:
    conn = msql.connect(host='localhost', database='whiskey_database', user='root', password='')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('select database();')
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        # droping old table
        cursor.execute('DROP TABLE IF EXISTS whiskey_data;')
        print('Creating table....')
        #creating fresh one
        cursor.execute('CREATE TABLE whiskey_data(whiskey varchar(255),rating varchar(255),url varchar(255),User_ID varchar(255),Whiskey_ID varchar(255),price_euro varchar(255),price_dollar varchar(255))')
        print('Table is created....')
        for i,row in empdata.iterrows():
            sql = 'INSERT INTO whiskey_database.whiskey_data VALUES (%s,%s,%s,%s,%s,%s,%s)'
            cursor.execute(sql, tuple(row))
            conn.commit()
    print("All records inserted !")           
            
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('whiskey_database',)
Creating table....
Table is created....
Records inserted